.hero-content {
<<<<<<< HEAD
	background: #2F1D57;
	padding: 100px 0;

	h1 {
		font-size: 70px;
		margin-bottom: 50px;
		font-weight: 300;
=======
    background: #2F1D57;
    padding: 100px 0;

    h1 {
	    font-size: 70px;
	    margin-bottom: 50px;
	    font-weight: 300;
>>>>>>> d6e6f9be2f2fe60045849f7b69d35bdaac0e0a1d
	}
}

.selling-points {
<<<<<<< HEAD
	padding: 100px 0;

	.point {
		h5 {
=======
    padding: 100px 0;

    .point {
	    h5 {
>>>>>>> d6e6f9be2f2fe60045849f7b69d35bdaac0e0a1d
			font-size: 24px;
			font-weight: bold;
			margin-bottom: 20px;
			text-align: center;
			height: 85px;
		}

		p {
			font-size: 14px;
		}
<<<<<<< HEAD
	}
=======
    }
>>>>>>> d6e6f9be2f2fe60045849f7b69d35bdaac0e0a1d
}



